.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.box {
  box-shadow: 0 0 5px 5px rgb(96, 156, 202);
  width: 200px;
  height: 200px;
}

.red {
  composes: box;
  background-color: red;
}

.black {
  composes: box;
  background-color: black;
  width: 400px;
}
